neo4j
python-dotenv
langchain
langchain-community
langchain-experimental
langchain-openai
langchain-neo4j
langchain-core
numpy==1.24.3
scipy==1.10.1
sentence-transformers
underthesea==6.7.0
tqdm
requests
pytest
pytest-asyncio
black
isort




